<main>
<section>
    <div>
        <h1>user1</h1>
    </div>
    <section class="game-section" >
        <div id="0" (click)="onClickHandler(0)" class="disabledClass testclass"></div>
        <div id="1" (click)="onClickHandler(1)" ></div>
        <div id="2" (click)="onClickHandler(2)" ></div>
        <div id="3" (click)="onClickHandler(3)" ></div>
        <div id="4" (click)="onClickHandler(4)" ></div>
        <div id="5" (click)="onClickHandler(5)" ></div>
        <div id="6" (click)="onClickHandler(6)" ></div>
        <div id="7" (click)="onClickHandler(7)" ></div>
        <div id="8" (click)="onClickHandler(8)" ></div>
    </section>
    <div>
        <h1>user2</h1>
    </div>
</section>
<h1>{{showResult}}</h1>
</main>
