<main>
    <h2>Willkomen in Tic-Tac-Toe Spiel</h2>
    <section>
    <article>
        <p>
            Auf einem quadratischen, 3×3 Felder großen Spielfeld setzen die beiden Spieler abwechselnd ihr Zeichen (ein Spieler Kreuze, der andere Kreise) in ein freies Feld. Der Spieler, der als Erster drei Zeichen in eine Zeile, Spalte oder Diagonale setzen kann, gewinnt. 
        </p>
    </article>
    <div>
        <h1>Möchten Sie spielen?</h1>
        <a routerLink="/selector">START</a>
    </div>
</section>
</main>
    
