*{
    margin: 0;
    padding: 0;
}
main > h2{
    color: white;
    text-align: center;
}
main{
    height: 80vh;
}
main > section{
    background-color: black;
    color: yellow;
    display: flex;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
main > section > article{
    width: 40%;
    text-align: center;
    border: 1px solid white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    border-radius: 8px;
    box-shadow: 0 0 4px white;
}
main > section > article > p{
    text-align: left;
    color: white;
}
main > section > div{
    width: 40%;
    text-align: center;
    border: 1px solid white;
    height: 50%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 4px white;
}
main > section > div > h1{
    margin-bottom: 30px;
}
main > section > div > a{
    color: rgb(39, 39, 39);
    background-color: white;
    text-decoration: none;
    width: 200px;
    display: block;
    text-align: center;
    padding: 3vh 0;
    border-radius: 8px;
    font-weight: 900;
    animation: ani 1s infinite;
    transition: 1s;
}
@keyframes ani {
    0%{
        box-shadow: 0 0 0px white; 
        opacity: 0.5;
    }
    50%{
        box-shadow: 0 0 10px white;
        color: black;
        opacity: 1;
    }
    100%{
        box-shadow: 0 0 0px white;
        opacity: 0.5;
    }
}