<header>
    <h1>Tic Tac Toe</h1>
    <h2>Willkomen Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur provident repudiandae.</h2>
</header>

<main>
    <article>
        <p>
            Auf einem quadratischen, 3×3 Felder großen Spielfeld setzen die beiden Spieler abwechselnd ihr Zeichen (ein Spieler Kreuze, der andere Kreise) in ein freies Feld. Der Spieler, der als Erster drei Zeichen in eine Zeile, Spalte oder Diagonale setzen kann, gewinnt. 
        </p>
    </article>
    <div>
        <h1>Möchten Sie spielen?</h1>
        <a routerLink="/main">START</a>
    </div>
</main>

<div class="container text-center">
    <router-outlet></router-outlet>
</div>
    
