<main>
    <header>
    </header>
    <section>
        <div>
            <label for="2users" >2</label>
            <input (click)="radioBtnHandler($event)" name="users" id="2users" value='false' type="radio">
            <label for="4users" >4</label>
            <input (click)="radioBtnHandler($event)" name="users" id="4users" value='true' type="radio">
        </div>
        <section>
            <input id="user-name1" type="text" placeholder="User 1" [(ngModel)]='usersNames.UserName1' >
            <input id="user-name2" type="text" placeholder="User 2" [(ngModel)]='usersNames.UserName2' >
            <input [style.display]="fourUsers ? 'unset' : 'none'" id="user-name3" type="text" placeholder="User 3" [(ngModel)]='usersNames.UserName3' >
            <input [style.display]="fourUsers ? 'unset' : 'none'" id="user-name4" type="text" placeholder="User 4" [(ngModel)]='usersNames.UserName4' >
        </section>
    </section>
</main>
